services:
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      # 2 listeners: host (mac) and docker (between containers)
      - KAFKA_LISTENERS=CONTROLLER://localhost:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      - KAFKA_ADVERTISED_LISTENERS=HOST://localhost:9092,DOCKER://kafka:9093
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

      # KRaft (no Zookeeper)
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9091

      # broker-to-broker (even in single node)
      - KAFKA_INTER_BROKER_LISTENER_NAME=DOCKER

      # single node
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8088:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9093
    depends_on:
      - kafka

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.3
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.3
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  elastic-init:
    image: curlimages/curl:8.10.1
    container_name: elastic-init
    depends_on:
      - elasticsearch
    volumes:
      - ./elastic/init-index.sh:/init-index.sh:ro
    entrypoint: ["sh", "/init-index.sh"]

  producer:
    build: ./producer
    container_name: producer
    environment:
      - KAFKA_BOOTSTRAP=kafka:9093
      - TOPIC=bloodpressure
      - PRODUCE_INTERVAL_SEC=1
    depends_on:
      - kafka

  consumer:
    build: ./consumer
    container_name: consumer
    environment:
      - KAFKA_BOOTSTRAP=kafka:9093
      - TOPIC=bloodpressure
      - ES_URL=http://elasticsearch:9200
      - ES_INDEX=bp-anomalies
      - ARCHIVE_DIR=/archive
    volumes:
      - ./archive:/archive
    depends_on:
      - kafka
      - elasticsearch

volumes:
  esdata: